<div ng-repeat="vote in votes">
  <h3> {{vote.title}}</h3>

  <h2> should be selections </h2>

  <div ng-repeat="selection in vote.selections | orderBy: '-points'">
    {{selection.selection_title}}: {{selection.points}}

    <!-- if owner of vote need to have add selection or edit or delete -->
    <button ng-click="upvote(selection)">Upvote</button>
  </div>
</div>
<div>
  <button ng-click="go('/votes')">Votes</button>
  <button ng-click="go('/new_vote')">New Vote</button>
</div>