<form name= "voteForm">
  <div class="row">
    <div class="col-xs-6">
      Vote Title: <span></span>{{title}}
    </div>
    <div class="col-xs-4">
      <input type="text" ng-model="title">
    </div>
      <br>
      <div class="row">
        <div class="col-xs-8">
          <div ng-repeat="selection in selections">
            {{selection.selection_title}}: {{selection.points}}
          </div>
        </div>
      </div>
    <form ng-model="selections" ng-submit="$event.preventDefault()">
    <br>
    <div class="col-xs-6">
      Add Selection:
    </div>
    <div class="col-xs-4">
      <input type="text" ng-model="selection_title">{{selection_title}}
    </div>
    <br>
    <br>
    <div class="">
      <button class="btn btn-primary" ng-click="addSelectionForm()" type="click">Add Selection</button>
    </div>
    </form>
    <br>
  </div>
  <br>
  <button class="btn btn-primary" ng-click="addVote()" type="submit">Add Vote</button>
</form>