<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Votrrr</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <link rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</head>
<body ng-app="votrrr" ng-controller='MainCtrl'>
  <div class="col-centered row">
    <div class="text-centered">
      <div>is this also</div>
      <ui-view></ui-view>
      <div>is this run twice</div>
      <footer>
        <br>
        <br>
        <br>
        <div>Footer Material</div>
      </footer>
    </div>
  </div>
  
  <script src="/javascripts/angularApp.js"></script>

</body>

</html>