<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Votrrr</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body ng-app="votrrr" ng-controller='MainCtrl'>
  <div class="col-centered row">
    <div class="text-centered">
      <h1> Votrrr </h1>
      <ui-view></ui-view>
      <footer>
        <br>
        <br>
        <br>
        <div>Oskar Niburski | 2014</div>
      </footer>
    </div>
  </div>
  
  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/controllers.js"></script>
  <script src="/javascripts/services/Vote.js"></script>
  <script src="/javascripts/services/Selection.js"></script>

</body>

</html>